<!DOCTYPE html>

<html>
<meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="canonical" href=""/>
    <title>family three</title>
    <link rel="stylesheet" href="/css/app.css">
            <link rel="stylesheet" href="/build/app.css">
        <meta charset="UTF-8">
       
       
        <link rel="stylesheet" href="style.css"> 
    </head>
    
    
    <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="tel:+7-977-654-15-12"><i class="fas fa-phone-alt"></i>+7-977-654-15-12</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item current">
                        <a class="nav-link text-white" href="/">Главная
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/gallery">Галерея</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/contacts">Контакты</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    
    <h1>Your lucky number is {{ number }}</h1>
       
        <main>
    <h1>Главная часть сайта</h1>
    <p>Текст главной части сайта</p>
</main>
<aside>
    <h3>Об авторе</h3>
    <p>Текст об авторе</p>
</aside>

    </body>
</html>
